@font-face {
  font-family: "digital-7_mono";
  src: url(../font/digital-7_mono.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../images/bg_space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.app {
  /* background-color: #999; */
  position: relative;
}

.clock {
  width: 250px;
  height: 180px;
  text-align: center;
  position: absolute;
  left: 250px;
  top: 60px;
  border: 10px solid #111;
  background-color: #daeee0;
  border-radius: 35px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.9) inset;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  font-family: "digital-7_mono", monospace;
}
.clock > h2 {
  font-size: 1.1em;
  font-weight: bold;
  width: 100%;
}
.clock:hover {
  border: 10px solid #111;
  background-color: #21848d;
}
.container > img {
  position: absolute;
  top: 0;
}

.app{
  left: 25%;
  top: 25%;
}

.btn {
  position: absolute;
  width: 159px;
  height: 192px;
  /* background-color: pink; */
  background-image: url(../images/rescue.png);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 20px;
  right: 20px;
}

/*  animation */
.btn:hover {
  animation-name: btn_ani;
  animation-duration: 2s;
}
@keyframes btn_ani {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

.app.play {
  animation-name: bmo;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

@keyframes bmo {
  0% {
    left: -1000px;
    top: -100px;
  }
  20% {
    left: 400px;
    top: 300px;
  }
  50% {
    left: 900px;
    top: 500px;
    transform: rotate(180deg);
  }
  60% {
    left: 500px;
    top: 1000px;
  }
  90% {
    left: 100px;
    top: 900px;
  }
  100% {
    left: -1000px;
    top: -100px;
  }
}

@keyframes bmo_stop {
  0% {
    left: 25%;
    top: 200px;
  }
  100% {
    left: 25%;
    top: 200px;
  }
}
